<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page 1+2</h1>
    <h3><%= 1*2 %></h3>
    <h3><%= "kishan".toUpperCase() %></h3>
    <h3><%= ["hello","bonjour","namsate"][2] %></h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil suscipit
      qui doloribus velit esse facere, minus tempore voluptatibus magnam sequi
      iusto numquam cumque ad aliquid obcaecati ullam soluta ipsa distinctio.
    </p>
    <button>Click me</button>
  </body>
</html>
